@font-face {
    font-family: Pervitina-Dex-FFP;
    src: url(Pervitina-Dex-FFP.ttf);
}

marquee{
    color: blue;
    font-size: 20px;
    font-family: monospace;
}
span{
    margin-right:500px;
}

.container{
    background: rgba(249, 246, 212, 0.60);
    margin-left: 180px;
    margin-right: 43px;
    box-sizing: border-box;
}
.space{
    height: 5px;
}
.navigation{
    background:rgb(250 249 212);
    position: sticky;
    top:0;
}

.inline{
    padding: 10px;
    text-align: center;
}

.inline-block{
    display: inline-block;
    background: rgba(249, 246, 212, 0.60);
}
body {
    background-image: url("notebook-page.png");
    background-size: 100%;
    font-family: monospace;
}
a{
    color: blue;
    font-size: 15px;
    font-family: monospace;
    margin-right: 50px;
}

h1{
    margin: 0;
    margin-top: 10px;
    color: red;
    font-size: 70px;
    font-family: Pervitina-Dex-FFP;
    text-shadow:
    /* Outline */
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black,  
    -2px 0 0 black,
    2px 0 0 black,
    0 2px 0 black,
    0 -2px 0 black;
    text-align: center;
}

p{
    color: rgb(21, 21, 158);
    font-size: 14pt;
}

li{
    color: rgb(21, 21, 158);
    font-size: 12pt;
}

summary{
    color: crimson;
    font-size: 14pt;
}