* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
}
body{
    background-color: lightblue;
    font-family: monospace;
    text-align: center;
    font-size: 20px;
    color: rgb(37, 0, 169);
}
img{
    aspect-ratio: 1 / 1;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px,solid;
    width: 200vw;
    height: 100vh;
    overflow-x: auto;
    background: linear-gradient(45deg,rgb(0, 208, 255), white);
    background-size: 400% 400%; 
    animation: gradientAnimation 3s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.subsection{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.item{
    display: flex;
    flex: 1 1 calc(100% / 18);
    flex-direction: column;
    position: relative;
    aspect-ratio: 1 / 1; 
    background: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    border: none;
    align-items: center;
    justify-content: center;
    overflow: hidden
}

.text{
    display: flex;
    flex: 1 1 calc(100% / 18);
    flex-direction: column;
    position: relative;
    background: rgba(0, 0, 0, 0);
    align-items: center;
    justify-content: center;
    border: black, 2px, solid;
}

.item img {
    display: block; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.item a {
    display: block; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.tile{
    mix-blend-mode: normal;
}

a:hover{
    background-color: rgb(37, 0, 169);
    color: black;
}

a {
    color: rgb(37, 0, 169);
    text-decoration: none;
}