*{
    box-sizing: border-box;
}

body{
    background: rgb(247, 247, 247);
    margin: 0px;
}

img{
    max-width: 100%;
}


.menu{
    background: lightblue;
    position: fixed;
    top: 0;
    left: -200px;
    height: 100vh;
    width: 200px;
    padding: 10px;
    text-align: center;
    transition: all 1s;
}

.menu.active{
    left: 0px;
}
.gear{
    background-color: red;
    width:50px;
    height:50px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    transition: transform .5s;
}

.gear.active{
    transform: rotate(180deg);
}

.menu.glow{
    background-color: lightgoldenrodyellow;
}

.gear.glow{
    background-color: lightblue;

}

.buttons{
    position: relative;
}

.buttons.active{
    left: 200px;
}

.square{
    background-color: rgb(174, 224, 174);
    height: 100px;
    width: 100px;
    animation: spin 3s infinite linear;
    animation-play-state: paused;
    transition: background .5s;

}
.buttons{
    position: fixed;
}

.square.dark{
    background: firebrick;
}

.square.spin{
    animation-play-state: running;
}

@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
body.dark{
    background: dimgray;
}

.lion{
    width: 200px;
    position: fixed;
    bottom:10px;
    right: 10px;
    opacity: 0;
    display: none;
}
.lion.reveal{
    opacity: 100;
    display:flex;
}